<!Doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equip="x-ua-compatible" content="ie-edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="descriptiion" content="Django Clone of Netflix's Landing Page">
<link rel="stylesheet" href="/styles.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Django Netflix Clone</title>
</head>
<body>
    <header id="header">
        <nav>
            <div class="logo"></div>
            <div class="leftMenu">
                <ul>
                    <li><a href="" class="dropdown">Browse</a></li>
                    <li><a href="">TV Shows</a></li>
                    <li><a href="">Movies</a></li>
                    <li><a href="">Recently Added</a></li>
                    <li><a href="">My List</a></li>
                </ul>
            </div>
            <div class="rightMenu">
                <ul>
                    <li><a href="" class="fa-search"></a></li>
                    <li><a href="" class="fa-bell-o"></a></li>
                    <li><a href="" class="fa-user"></a></li>
                    <li><a href="" class="fa-caret-down"></a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main id="largeImage">
        <div class="description-box">
            <h4>Netflix Presents</h4>
            <h1>Rocky!</h1>
            <h3>Coming August 1st</h3>
            <p>A small-time boxer from Philadelphia who 
            seems to be going nowhere in life, gets a 
            supremely rare chance to fight a heavy-weight 
            champion in a bout in which he strives to go the 
            distance for his self-respect.</p>
            <div class="fa-caret-left">Play</div>
            <div class="fa-plus">My List</div>
        </div>
        <div></div>
    </main>
    <section id="videoSection">
        <div class="videoBoxes video1">
            <h4>Four Weddings and a Funeral</h4>
            <p>A weatherman finds himself inexplicably living the 
            same day over and over again.</p>
        </div>
        <div class="videoBoxes video2">
            <h4>Mindhunter: Season 2</h4>
            <p>A look at the personal and professional lives of a 
            group of women who perform for a wrestling organization 
            in Los Angeles during the 1980s.</p>
        </div>
        <div class="videoBoxes video3">
            <h4>Dear White People: Volume 3</h4>
            <p>At a predominantly white Ivy League college, a group 
            of black students navigate various forms of racial and 
            other types of discrimination.</p>
        </div>
        <div class="videoBoxes video4">
            <h4>Charlie and the Chocolate Factory</h4>
            <p>A young boy wins a tour through the most magnificent 
            chocolate factory in the world, led by the world's most 
            unusual candy maker.</p>
        </div>
    </section>
</body>
</html>